
body
{
    background-color: #f5f5f5b2;
    font-family: 'Quicksand', sans-serif;
}

.welcome-text
{
    font-size: 3rem;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}

.welcome-text-2
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
}

.about-text
{
    font-size: 18px;
    text-align: center;
}

.img-text
{
    font-size: 18px;
    text-align: center;
}

.content-center
{
    text-align: center;
    margin-bottom: 1rem;
}

.home-text
{
    margin-top: 2rem;
    border: 1px solid black;
}

.footer
{
    margin-top: 4rem;
}

.center-home
{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.description
{
    padding: 2rem;
}
.main-body
{
    background-color: #cececeb2;
    padding: 1rem;
    overflow-y: hidden;
}

.category-title
{
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}

.img-art
{
    padding-left: 8px;
    padding-right: 8px;
}

.img-right
{
    text-align: right;
    float: right;
}

.no-decoration
{
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-style: italic;
}

.art-images
{
    text-align: center;
    padding: 1rem;
}

.contact-table
{
    margin: 1rem;
}

.details
{
    padding: 1rem;
    border: 1px dotted black;
}

.details td
{
    padding: 1rem;
    text-align: center;
}
.details th 
{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.td-alt
{
    background-color: #a09f9fb2;
}

.carousel-inner img {
    margin: auto;
}

.carousel
{
    width:40%;
    margin: 0 auto;
    text-align: center;
    background-color: #a19f9fb2;
}

.carousel-caption
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
}
#navbar
{
    padding: 1rem;
    font-size: 2rem;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 2rem;
    
}

#navbar a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    margin: 3rem;


}

#navbar a:hover {
    background-color: #575757;
    color: white;
}

#navbar a.active {
    background-color: #575757;
    color: white;
  }

#navbar-last {
    
}
